@model ZDSystem.Model.OrderDeliveryListModel
@{
    ViewBag.Title = "订单发货表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    function MRCenterMsg() {
        this.bind = function () {
            $.paging.config.form = "#conditionForm";
            $.paging.bind();
            $("#ddlps").val($("#ps").val());
            $("#ddlps").change(function () {
                $("#ps").val($(this).val());
            });
            $(".list_submit").click(function () {
                $.paging.submit();
            });
        }
    }

    $(function () {
        var user = new MRCenterMsg();
        user.bind();
    });
    function OrderManaul(id, title, deliveryId) {

        var html = $.ajax({ url: "/ManualReview/OrderShipManaul?id=" + id + "&deliveryId=" + deliveryId + "&" + Math.random(), async: false }).responseText;
        art.dialog({
            content: html,
            title: title,
            lock: true,
            ok: function () {
                $('#mainForm').submit();
                return false;
            },
            okVal: "提交",
            cancelVal: "取消",
            cancel: true
        });
    }
</script>
<div class="channel_list">
    <form method="get" id="conditionForm">
    <div class="con_search_box clearfix">
        <p class="sc_p">
            时间:
            <input class="list_input Wdate" type="text" name="s" id="s" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:'%y-%M-%d'});" value="@DateTime.Now.AddDays(-1).ToString("yyyy-MM-dd")"/>
            -
            <input class="list_input Wdate" type="text" name="t" id="e" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'s\')}',maxDate:'%y-%M-%d'});" value="@DateTime.Now.ToString("yyyy-MM-dd")"/>
        </p>
        <p class="sc_p">
            <input class="frame_middle" id="checked3" type="radio" name="keytype" value="1" />
            <label for="checked3">
                订单号</label>
            <input class="frame_middle" id="checked4" type="radio" name="keytype" value="2" />
            <label for="checked4">
                发货编号</label>
            <input type="radio" class="frame_middle" name="keytype" value="3" id="checked5" checked="checked" />
            <label for="checked5">
                上游订单号</label>
            <input class="sc_frame" style="width: 180px;" type="text" name="KeyWords" id="key"
                value="" />
        </p>
        <p class="sc_p">
            <input class="list_submit" type="button" />
        </p>
    </div>
    <input type="hidden" value="0" name="pi" id="pi" />
    <input type="hidden" value="10" name="ps" id="ps" />
    <input type="hidden" value="@Model.TotalCount" id="count" />
    </form>
    <div>
    </div>
    <div class="list_content" id="divshelflist">
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        创建时间
                    </th>
                    <th>
                        订单号
                    </th>
                    <th>
                        发货编号
                    </th>
                    <th>
                        上游订单号
                    </th>
                    <th>
                        查询状态
                    </th>
                    <th>
                        发货状态
                    </th>
                    <th>
                        查询消息
                    </th>
                    <th>
                        结果消息
                    </th>
                    <th>
                        完成时间
                    </th>
                    <th>
                        操作
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (ZDSystem.Entity.MOrderDelivery item in Model.List)
                {
                    <tr>
                        <td>
                            @if (item.CreateTime != null)
                            {
                                @item.CreateTime.Value.ToString("MM-dd HH:mm:ss")
                            }
                        </td>
                        <td>
                            @item.OrderNo
                        </td>
                        <td>
                            @item.DeliveryId
                        </td>
                        <td>
                            @item.UpOrderNo
                        </td>
                        <td>
                            @item.GetDataValue("QueryStatus")
                        </td>
                        <td>
                            @item.GetDataValue("DeliveryStatus")
                        </td>
                        <td>
                            <label class="lblTextfull" title="@item.QueryMsg" style="width:70px">@item.QueryMsg</label>
                        </td>
                        <td>
                            <label class="lblTextfull" title="@item.ResultMsg" style="width:70px">@item.ResultMsg</label>
                        </td>
                        <td>
                            @if (item.FinishTime != null)
                            {
                                @item.FinishTime.Value.ToString("MM-dd HH:mm:ss")
                            }
                        </td>
                        <td>
                            <a href="javascript:void(0)" onclick="return OrderManaul('@item.OrderNo','审核','@item.DeliveryId')">
                                审核</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="list_number">
            共 @Model.TotalCount 条记录 | 每页显示:
            <select id="ddlps">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
            条
        </div>
        <div id="pager" class="list_pager">
        </div>
        <div style="clear: both;">
        </div>
    </div>
</div>
